<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masrofy.app"
    android:versionCode="14"
    android:versionName="2.0">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="مَصرفي"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
